<section class="beers-section random">
  {{#each beers}}
    <div class="beer-container">
      <img class="beer-image" src="{{image_url}}">
      <div class="beer-info">
        <h2 class="beer-title">{{name}}</h2>
        <p class="beer-tagline">{{tagline}}</p>
        <p class="beer-description">{{description}}</p>
      </div>
    </div>
  {{/each}}
</section>